*
{
	margin: 0;
	font-family: sans-serif;
}
.signin{
	font-size: 16px;
	font-weight: 500;
color: #101C26;
	width: 117px;
	height: 50px;
	border-radius: 100px;
	background-color:#F0E714 ;
	border: none;
}
.signUp{
	font-size: 16px;
	font-weight: 500;
	color: #101C26;
	width: 117px;
	height: 50px;
	border-radius: 100px;
	color: #CECECE;
	border: 1px solid white;
	background-color: #101C26;
}
.header{
	background-color:#101C26 ;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.Homediv{
	display: flex;
	justify-content: space-around;

	width: 600px;
}
.Button{
	display: flex;
	align-items: center;
	gap: 15px;
}
.pHome{
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
}
.pProject{
	font-size: 16px;
	font-weight: 500;
	color:#BAB9B9 ;
}